/* utility classes */

.padding {
    padding: 1rem;
    margin: 1rem;
}

.section-text > h1 {
    margin-top: 3rem;
}

.section-text > ul {
    margin-bottom: 3rem;
}

/* for title span elements */

h1 > span {
    font-style: italic;
    font-weight: lighter;
    font-size: smaller;
}

ul {
    list-style: none;
}

/* quiz styling */

#button-group {
    padding: 5px;
    display: flex;
    justify-content: center;
    /* flex-flow: column wrap; */
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.btn {
    margin: 10px;
    width: 60%;
}

.btn:hover {
    background-color: #83AAFF;
    border: 1px solid #83AAFF;
}